* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.theme-button {
  padding: 10px;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.theme-button-white {
  padding: 10px;
  background-color: rgba(251, 251, 251, 0);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.hero-banner {
  background: url('./hero-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  display: inline-block;
  padding: 5px;
}

.nav .logo {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .logo img {
  height: 50%;
}

.nav .nav-button {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.banner-info-img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-info-img img {
  width: 400px;
  height: auto;
}

.hero-banner h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
}

.hero-banner .banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  margin: 0 auto;
  height: 60px;
  background: #d0f3f6;
}
.section2 .purchase {
  text-align: center;
  padding: 15px;
  font-weight: 70px;
  font-size: 20px;

  font-size: large;
}
.hot-span {
  background-color: rgb(240, 120, 140);
  border: none;
  border-radius: 5px;

  padding: 5px;
  cursor: pointer;

  color: #3e21de;
  font-size: 20px;
  font-style: bold;
}

.text-middle {
  color: black;
  font-size: 20px;
  font-weight: 50px;
}

.link1:hover {
  color: rgb(72, 144, 245);
}
/* blog */
.container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px 80px;
}
.card {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: 20px 20px;
  margin-bottom: 60px;
  background: #f8efba;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 250px;
}
.card-content {
  padding: 30px 40px;
  font-weight: 100%;
  font-style: bold;
}

.card-content,
h1,
p,
a {
  font-size: 15px;
  padding: 5px;
}
.btn {
  color: #2663e8;
}
.btn:hover {
  color: #c44569;
}
/* text center */
.container-3 {
  background: #bdc3c7;
  width: 100%;
  height: 200px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.content-center {
  background: #bdc3c7;
  text-align: center;
  overflow: hidden;
}
.content-center h1 {
  font-size: 30px;
  padding: 15px;
}
.content-center h1 p {
  font-weight: 100;
  font-style: bold;
}
.content-center p {
  font-size: 20px;
  padding: 30px;
}
/* page card */
#container {
  box-sizing: border-box;
}
.row {
  background: #f5f6fa;
  display: flex;
  justify-content: space-around;
}
.one {
  background: #f8efba;
  padding: 25px;
  box-sizing: border-box;
  border: 5px solid none;
  border-radius: 15px;
  width: 90%;
  height: 250px;
  float: left;
  margin: 90px;
  text-align: center;
}
.one:hover {
  background: #f8c291;
}
.one h1 {
  font-size: 30px;
}
.one p {
  font-size: 20px;
  font: 200;
}

.one .text-btn a {
  background: #cad3c8;
  color: #1b1464;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
}
.one .text-btn a:hover {
  text-decoration: underline;
  background: #fd7272;
}
.text-center bg-second {
  width: 100%;
  height: 100%;
  background: red;
}
.text-row {
  text-align: center;
}
.text-row h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100px;
  margin-bottom: 15px;
}
.text-row .span {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
}
.text-row .span a {
  text-decoration: none;
}
.text-row .span a:hover {
  text-decoration: underline;
  color: #ea2027;
}
.container-4 {
  height: 190px;
  background-color: #4a90e2;
}
.last {
  text-align: center;
  padding-top: 83px;
}
.last a {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}
.last a:hover {
  color: black;
}
footer {
  height: 300px;
  background-color: #2c3a47;
}
.full-sec {
  height: 250px;
  background-color: #2c3a47;
  display: flex;
  align-items: center;
}
.full-sec .no-1 {
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;

  height: 170px;
  width: 100%;
}
.full-sec .no-1 h6 {
  font-size: 20px;
  padding-bottom: 10px;
}
.full-sec .no-1 p {
  font-size: 18px;
}
.email {
  border: 5px solid white;
  height: 40px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button {
  background: #4b7bec;
  padding: 5px;
  border-radius: 5px;
  margin-left: 125px;
}
.button:hover {
  background: #4b6584;
  cursor: pointer;
}
.footer-last {
  background: #2f3640;
  height: 80px;
  padding-left: 40px;
  padding-top: 25px;
}
